// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task_list {
  display: block;
}

.container  {
  background-color: #FCFCFC;
  width: 80vw;
  border: 4px, grey;
  padding: 10px;
  border-radius: 4px;
}

a:hover {
  cursor: pointer;
}

.from-total {
  margin: 10px;
}


.interior {
  padding: 10px;
}
